/* body {
    background-image: url("./giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
} */

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: green;
    
}